In [1]:
#Dependencies
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
humanDevIndex=pd.read_csv("Resources/HumanDevelopmentIndex.csv")
humanDevIndex=humanDevIndex.dropna(how='any')
humanDevIndex=humanDevIndex.rename(columns={"Country":"Country Name"})

In [9]:
humanDevIndex.head()

,HDI Rank (2018),Country Name,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,170,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
1,69,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
2,82,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
6,48,Argentina,0.707,0.714,0.719,0.725,0.729,0.731,0.738,0.746,...,0.810,0.818,0.823,0.823,0.824,0.825,0.828,0.828,0.832,0.830
7,81,Armenia,0.633,0.629,0.585,0.590,0.600,0.604,0.614,0.625,...,0.724,0.729,0.733,0.737,0.743,0.746,0.748,0.751,0.758,0.760

In [11]:
energyCons=pd.read_csv("Resources/TheWorldBank/EnergyConsumptionv2.csv")
energyCons.dropna(how='any')
energyCons.head()

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
0,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,Afghanistan,AFG,15.924532,17.036444,26.521629,30.585667,32.796251,35.075640,...,37.137249,33.862579,21.343708,17.813855,14.839806,11.482706,13.973586,16.334293,19.314269,18.423477
1,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,Albania,ALB,25.518088,32.998174,46.813329,51.152042,51.459544,50.609710,...,31.710195,32.100937,35.912906,37.216638,37.115330,35.962532,40.048300,41.288974,38.689501,38.615210
2,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,Algeria,DZA,0.177228,0.323692,0.289771,0.476342,0.403960,0.422480,...,0.408727,0.411409,0.298766,0.311808,0.258072,0.177339,0.188181,0.140452,0.068640,0.058959
3,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,American Samoa,ASM,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.702427,0.703141,0.700882,0.885478
4,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,Andorra,AND,14.273550,14.273550,14.308754,13.918955,14.561024,14.481048,...,17.485994,16.940777,17.422741,17.515948,19.090730,18.971546,19.195529,19.563698,19.886323,19.747809

In [12]:
energyCons.columns

Index(['Series Name', 'Series Code', 'Country Name', 'Country Code',
       '1990 [YR1990]', '1991 [YR1991]', '1992 [YR1992]', '1993 [YR1993]',
       '1994 [YR1994]', '1995 [YR1995]', '1996 [YR1996]', '1997 [YR1997]',
       '1998 [YR1998]', '1999 [YR1999]', '2000 [YR2000]', '2001 [YR2001]',
       '2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]',
       '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]',
       '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]',
       '2014 [YR2014]', '2015 [YR2015]'],
      dtype='object')

In [13]:
energyCons.head()

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
0,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,Afghanistan,AFG,15.924532,17.036444,26.521629,30.585667,32.796251,35.075640,...,37.137249,33.862579,21.343708,17.813855,14.839806,11.482706,13.973586,16.334293,19.314269,18.423477
1,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,Albania,ALB,25.518088,32.998174,46.813329,51.152042,51.459544,50.609710,...,31.710195,32.100937,35.912906,37.216638,37.115330,35.962532,40.048300,41.288974,38.689501,38.615210
2,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,Algeria,DZA,0.177228,0.323692,0.289771,0.476342,0.403960,0.422480,...,0.408727,0.411409,0.298766,0.311808,0.258072,0.177339,0.188181,0.140452,0.068640,0.058959
3,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,American Samoa,ASM,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.702427,0.703141,0.700882,0.885478
4,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,Andorra,AND,14.273550,14.273550,14.308754,13.918955,14.561024,14.481048,...,17.485994,16.940777,17.422741,17.515948,19.090730,18.971546,19.195529,19.563698,19.886323,19.747809

In [14]:
rename_map = {}
for columns in energyCons.columns:
    if '[' in columns:
         rename_map[columns] = columns.split()[0]

energyCons=energyCons.rename(columns=rename_map)
energyCons=energyCons.dropna(how='any')
energyCons.dtypes
energyCons.iloc[:,4:30]=energyCons.iloc[:,4:30].astype(float)
#energyCons.map("{:.2f}".format)
for i in range(4,30):
    energyCons.iloc[:,i]=energyCons.iloc[:,i].map("{:.2f}".format)
energyCons.head()

,Series Name,Series Code,Country Name,Country Code,1990,1991,1992,1993,1994,1995,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,Afghanistan,AFG,15.92,17.04,26.52,30.59,32.80,35.08,...,37.14,33.86,21.34,17.81,14.84,11.48,13.97,16.33,19.31,18.42
1,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,Albania,ALB,25.52,33.00,46.81,51.15,51.46,50.61,...,31.71,32.10,35.91,37.22,37.12,35.96,40.05,41.29,38.69,38.62
2,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,Algeria,DZA,0.18,0.32,0.29,0.48,0.40,0.42,...,0.41,0.41,0.30,0.31,0.26,0.18,0.19,0.14,0.07,0.06
3,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,American Samoa,ASM,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.70,0.70,0.70,0.89
4,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,Andorra,AND,14.27,14.27,14.31,13.92,14.56,14.48,...,17.49,16.94,17.42,17.52,19.09,18.97,19.20,19.56,19.89,19.75

In [15]:
merged_df=pd.merge(humanDevIndex,energyCons,on="Country Name",how='outer')

In [17]:
humanDevIndex["Country Name"].count()

158

In [18]:
energyCons["Country Name"].count()

243

In [22]:
merged_df=merged_df.dropna(how='any')
merged_df

,HDI Rank (2018),Country Name,1990_x,1991_x,1992_x,1993_x,1994_x,1995_x,1996_x,1997_x,...,2006_y,2007_y,2008_y,2009_y,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y
0,170,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,...,37.14,33.86,21.34,17.81,14.84,11.48,13.97,16.33,19.31,18.42
1,69,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,...,31.71,32.10,35.91,37.22,37.12,35.96,40.05,41.29,38.69,38.62
2,82,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,...,0.41,0.41,0.30,0.31,0.26,0.18,0.19,0.14,0.07,0.06
3,48,Argentina,0.707,0.714,0.719,0.725,0.729,0.731,0.738,0.746,...,10.19,8.89,7.61,8.57,8.96,10.12,9.87,10.21,10.90,10.04
4,81,Armenia,0.633,0.629,0.585,0.590,0.600,0.604,0.614,0.625,...,7.65,7.02,6.41,7.80,9.36,8.01,6.57,6.77,7.72,15.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,143,Zambia,0.424,0.421,0.420,0.422,0.418,0.419,0.419,0.420,...,89.84,92.96,92.18,92.09,92.10,90.90,88.63,88.48,88.03,87.99
142,150,Zimbabwe,0.498,0.500,0.485,0.480,0.478,0.472,0.471,0.466,...,78.65,78.08,82.03,83.15,82.88,79.57,78.02,79.56,81.05,81.80
152,,South Asia,0.441,0.447,0.454,0.460,0.466,0.473,0.480,0.486,...,48.60,46.92,45.23,42.74,41.59,40.87,40.44,40.17,39.00,38.28
153,,Sub-Saharan Africa,0.402,0.404,0.404,0.406,0.407,0.411,0.415,0.418,...,71.34,71.02,70.91,70.94,71.42,71.09,70.31,70.04,70.29,70.13
157,,World,0.598,0.601,0.601,0.608,0.611,0.617,0.622,0.624,...,17.12,16.91,17.04,17.51,17.26,17.21,17.48,17.70,17.87,18.05